@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
.container {
    max-width: 980px;
    padding: 0 30px;
    margin-left: auto;
    margin-right: auto;
}
.header {
    height: 56px;
    width: 100%;
    box-shadow: 0 0 10px #dddddd;
    background-color: white;
    position: fixed;
    top: 0;
}
.header-left{
    float:left;
}
.header-right{
    float:right;
}
.clear{
    clear: both;
}
.header-logo{
    height: 40px;
    margin-top: 8px;
}
.header-right a {
    line-height: 56px;
    color: #5a5c5f;
    margin-left: 5px;
    font-size: 16px;
    padding: 16px 5px;
}
.header-right a:hover {
    background-color:#e2f1ff;
    transition: background-color 0.5s;
}
.footer{
    height: 120px;
    background-color: #2f3a44;
    color: #e8e8e8;
    padding-top: 20px;
}
.footer-left{
    float:left;
}
.footer-right{
    float: right;
    padding-top: 50px;
}
.footer-left p{
    margin-bottom: 8px;    
}
