@charset "utf-8";
.contact{
    padding: 90px 0 60px;
    color: #5a5c5f;
}
.contact-title{
    margin-bottom: 15px;
}
.contact-form h3{
    margin-top: 20px;
    margin-bottom: 5px;
    color: #4c4e52;
}
input,textarea{
    font-size: 15px;
    width: 400px;
    padding: 2px 4px;
}
.submit-button{
    margin-top: 20px;
    font-size: 18px;
    width: 80px;
}