@charset "utf-8";
.survey{
    padding:90px 0 60px 30px;
}
input, textarea{
    font-size: 15px;
    width: 400px;
    padding: 2px 4px;
}
.submit-button{
   margin-top: 20px;
   font-size: 18px;
   width: 80px; 
}