@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
.main-visual{
    padding:90px 0;
    text-align:center;
}
.h1{
    font-size: 60px;
}
.header{
    height: 56px;
    width: 100%;
    background-color: #000000;
    box-shadow: 0 0 10px #dddddd;
    position: fixed;
    top: 0;
}
.header-left{
    float: left;
}
.header-right{
    float: right;
}
.clear{
    clear: both;
}
.header-logo{
    height:56px;
    margin-top:0;
}
.header-right a{
    line-height: 56px;
    color: #e8e8e8;
    margin-left: 5px;
    font-size: 16px;
    padding: 16px 5px; 
}
.header-right a:hover{
    background-color: #808080;
    transition: background-color 0.5s;
}
.footer{
    position: fixed;
    bottom: 0;
     width: 100%;
    height: 60px;
    background-color: #000000;
    color: #e8e8e8;
    padding-top: 20px;
    box-shadow: 0 0 10px #dddddd;
}
.footer-left{
    float:left;
}
.footer-right{
    float: right;
    padding-top: 0;
}
.footer-left p{
    margin-bottom: 8px;    
}
.container{
    max-width: 980px;
    padding: 0 30px;
    margin-left: auto;
    margin-right: auto;
}
.text-align-center{
    text-align: center;
}
