@charset "utf-8";
.item{
    padding-bottom: 30px;
}
.item-card-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.item-card{
    width:33%;
    margin-top:35px;
    padding:25px 25px;
}
.item-card-inner{
    padding: 25px 30px;
    background-color:#dbe0e4;
    border-radius:7px;
    box-shadow:1px 1px 4px #d2d4d6;
}
.item-title{
    margin-bottom: 8px;
}