@charset "utf-8";
@media (max-width: 1024px){ 
    .menu-card{
        width: 50%;
     }
}
@media (max-width: 670px){
    .header-left{
        display: none;
    }
    .header-right{
        float: none;
        text-align: center;
    }
    .header-right a{
        font-size: 14px;
    }
    .footer-right{
        padding-top: 20px;
    }
    .last{
    padding-bottom: 180px;
    text-align:center;
    }
    .box{
    max-width:100%;
    width:100%;
    } 
    .top{
    padding-top:90px 0;
    }
    .menu-card{
    width: 50%;
    }
}
 