@charset "utf-8";
@media (max-width: 1024px){ 

}
@media (max-width: 670px){
    .header-left{
        display: none;
    }
    .header-right{
        float: none;
        text-align: center;
    }
    .header-right a{
        font-size: 14px;
    }
    .main p{
        font-size: 13px;
    }
    .footer-right{
        padding-top: 20px;
    }
}