@charset "utf-8";
.main{
    padding:20px 0;
    text-align:center;
    line-height:30px;
}
.myself{
    padding: 20px 0;
    margin:0 auto 0 auto;
    text-align:center;
    line-height:30px;
}
.log{
    padding: 20px 0;
    text-align:center;
    line-height:30px;
} 
