@charset "utf-8";
.main-visual{
    padding:90px 0;
    
}
.top-title{
    padding: 10px;
}
.myself{
padding-bottom: 90px;
text-align:center;
}
.log{
    padding-bottom: 60px;
    text-align:center;
} 
